<div class="home-page">
    <div class="home-page-animation">
        <div class="track-your-animation">track&nbsp;your</div>
        <div class="circle">
            <div class="circle-animation"></div> 
        </div>
        <div class="content-img-animation">
                <img src="assets/mujik.png"/>
        </div>
        <div class="subscriptions-animation">SUBSCRIPTIONS</div>
    </div>
    <div class="home-page-content">
        <div class="sub-mini-content">
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
        </div>
        <div class="sub-mini-content">
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
        </div>
    </div>
</div>