<div class="home-page">
    <div class="animation">
        <div [class.home-page-animation]="isLoad" [class.home-page-animation-hiden]="isNotLoad">
            <div  class="track-your-animation">track&nbsp;your</div>
            <div  class="circle">
                <div class="circle-animation"></div> 
            </div>
            <div  class="content-img-animation">
                <img src="assets/mujik2.png"/>
            </div>
            <div  class="subscriptions-animation">SUBSCRIPTIONS</div>
        </div>
    </div>
    <div class="home-page-content">
        <div class="subscription-price-title">
            <div class="subscription-title">Subscription</div>
            <div class="subscription-time">
                <div class="subscription-time-daily">Daily</div>
                <div class="subscription-time-yearly">Yearly</div>
            </div>
        </div>
        <div class="subscriptions-price-content">
            <div class="subscription-price">
                <div class="days">30 days</div>
                <div class="money">$4</div>
                <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
            </div>
            <div class="subscription-price-star">
                <div class="days">30 days</div>
                <div class="money">$4</div>
                <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
                <div class="book-now">Book Now</div>    
            </div>
            <div class="subscription-price">
                <div class="days">30 days</div>
                <div class="money">$4</div>
                <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
            </div>
            <div class="subscription-price">
                <div class="days">30 days</div>
                <div class="money">$4</div>
                <div class="description">Enjoy the full 2 months ofsubscription for full length. At no additional cost.</div>
            </div>
        </div>
        <div class="Title">Popular Service&Subscriptons</div>
        <div class="sub-mini-content">
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
            <app-sub-mini></app-sub-mini>
        </div>
    </div>
    <app-footer></app-footer>
</div>
