@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/000/457/342/original/Finance_Flat_Design_In_Blue._Business_and_Finance_Illustration_in_Doodle_Style._Increasing_Income_and_Money_Management.jpg');
}
a{
    text-decoration: none;
    color: #000;
}