<form class="sign-in-content-form">
    <p class="sign-in-content-form-login-validation-ok">Error</p>
    <input [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" type="text" max="100" required placeholder="Phone or email" >
    <p class="sign-in-content-form-login-validation-ok">Error</p>
    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" max="100" required placeholder="Password" >
    <div class="sign-in-content-form-submit">
        <input type="submit" (click)="registred()" value="Sign in" name="Sign-in">
        <a href="">Forgot you password?</a>
    </div>
</form>