<form class="sign-in-content-form"  [formGroup]="signInForm" novalidate (ngSubmit)="signIn()">
    <p class="sign-in-content-form-login-validation-ok">Error</p>
    <input formControlName="userEmail" type="text" max="100" required placeholder="Phone or email" >
    <p class="sign-in-content-form-login-validation-ok">Error</p>
    <input formControlName="userPassword"  type="password" max="100" required placeholder="Password" >
    <div class="sign-in-content-form-submit">
        <input type="submit" [disabled]="signInForm.invalid" value="Sign in" name="Sign-in">
        <a href="">Forgot you password?</a>
    </div>
</form>