<div class="header">
    <div class="header-logo">
        <a routerLink=""  class="header-logo-link">
            <div class="header-logo-star">S</div>
            <div class="header-logo-text">Pluto&nbsp;the&nbsp;sub:)</div>
        </a>
    </div>
    <div class="header-items-container">
        <div class="header-container-item">My&nbsp;sub</div>
        <div class="header-container-item">Friends</div>
        <div class="header-container-item-Star">Popular&nbsp;services&sub</div>
    </div>
    <div class="header-sign">
        <div class="header-login"><a routerLink="Sign-Up">Sign&nbsp;in</a></div>
        <!-- <div class="header-signIn">Sign&nbsp;in</div> -->
    </div>
</div>
