<div class="header">
    <div class="header-logo">
        <a href="" class="header-logo-link">
            <div class="header-logo-star">S</div>
            <div class="header-logo-text">Pluto the sub:)</div>
        </a>
    </div>
    <div class="header-items-container">
        <div class="header-container-item">My sub</div>
        <div class="header-container-item">Friends</div>
        <div class="header-container-item-Star">Popular services&sub</div>
    </div>
    <div class="header-sign">
        <div class="header-login">Log in</div>
        <div class="header-signIn">Sign in</div>
    </div>
</div>
